
img {
  width: 100%;
}


body {
  display: block;
  font-family: 'Raleway';
}

.wrapper {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  padding: 5%;
}

.box1 {
  width: 20%;
  grid-row: 1;
}

.box2, .box3 {
  text-align: center;
}


h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0;
}


#bold {
  font-weight: 500;
}

h2 {
  font-weight: 300;
  font-size: 1.85rem;
  margin-top: 0;
}

h3 {
  font-size: 1.25;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: 3%;
}


h5 {
  color: #C4435A;
  margin: 0;
  font-size: 1.125rem;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 3%;
}

p, li {
  font-size: .875rem;
  line-height: 1.4rem;
}

a {
    text-decoration: none;
}

blockquote {
  color: #C4435A;
  font-weight: 500;
  font-size: 1rem;
}


.box16, .box20, .box23, .box32, .box34, .box37, .box39, .box41, .box43, .box45 {
  margin-top: 10%;
}

.navbar .logo {
     cursor: pointer;
 }

.box2 .navbar-link, .box3 .navbar-link {
  text-decoration: none;
  cursor: pointer;
  color: #2C302E;
  font-size: .8rem;
  font-family: 'Raleway';
  text-align: center;
  padding: 10px;
}

.links-container {
  text-align: center;
}


.box {
  padding-bottom: 10%;
}

.dropbox {
  padding-bottom: 10%;
}

.allevents, .eventbrite, .nearify, .ticketmaster, .skyscanner {
    margin-bottom: 5%;
}

.box img {
  width: 18%;
}

.dropbox img {
  width: 32%
}

.g-suite img {
  width: 12%;
}

.allevents img {
  width: 30%;
}

.eventbrite img {
  width: 30%;
}

.nearify img {
  width: 30%;
}

.ticketmaster img {
  width: 35%;
}

.skyscanner img {
  width: 30%;
}

.eventbrite, .nearify, .ticketmaster, .skyscanner {
  margin-top: 10%;
}

.box15 {
  padding: 0 10%;
}

.box15 h5 {
  margin-top: 8%;
}

.box17 {
  padding: 0 10%;
}

.box18 {
  padding: 0 10%;
}

.box18 .overview h6 {
  margin-bottom: 0;
}

.box18 .overview p{
  margin-top: 2%;
  margin-bottom: 8%;
}

.box18 .assumptions {
  margin-top: 10%;
}

.box21, .box22, .box24, .box25, .box26, .box27, .box28, .box29, .box30, .box31, .box33, .box35, .box36, .box38, .box42, .box44, .box46, .box47 {
  padding: 0 10%;
}

.box40 {
  padding: 0 5% 0 10%;
}
.box40 .type-copy-body {
  font-family: "Lato:300";
}

.box40 .type-copy-event {
  font-family: "Roboto";
}

.box22 p {
  margin-bottom: 5%;
}

.box25 .bar-charts {
  margin-bottom: 10%;
}

.box25 .bar-charts img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box25 .bar-charts p{
  margin-bottom: 3%;
}

  .box25 .bar-charts {
    width: 100%;
  }

  .box25 .charts {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Pie-chart-1.png");
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: contain;
    width: 200px;
    height: 200px;
  }

  .box26 .charts {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Pie-chart-2.png");
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: auto;
    background-size: contain;
    width: 200px;
    height: 200px;
  }

  .box27 .charts {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Pie-chart-3.png");
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: auto;
    background-size: contain;
    width: 200px;
    height: 200px;
  }



.box28 {
  margin-top: 10%;
}

.box30, .box31 {
  margin-top: 8%;
}


.box40 img {
  width: 30%;
}

.box42 img {
  margin-bottom: 5%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box42 .testing {
  margin-top: 10%;
}

.box47 {
  margin-top: 10%;
}

.box48 {
  background-color: #C4435A;
  color: white;
  text-align: center;
  padding-bottom: 3%;
  margin-top: 10%;
}

.box48 a {
  color: white;
}

.footer {
  background-color: #C4435A;
  color: white;
  text-align: center;
  padding-bottom: 3%;
  margin-top: 10%;
}

.footer a {
  color: white;
}





@media (min-width: 768px) {

  .wrapper {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 30px;
    grid-template-columns: .2fr .4fr .4fr .2fr;
    padding: 3%;
  }

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 3%;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5625rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  p, li {
    font-size: 1.125rem;
  }

  blockquote {
    font-size: 1.25rem;
  }


    .box1  {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      width: 38%;
    }

  .box2 {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
  }

  .box3 {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
  }

  .box14 {
    grid-row: 2;
    grid-column: 2/4;
  }

  .box15 {
      grid-row: 3;
      grid-column: 2/4;
      padding: 0 20%;
  }

  .box16 {
      grid-row: 4;
      grid-column: 2/4;
  }

  .box17 {
    grid-row: 5;
    grid-column: 2/4;
    padding-left: 20%;
  }

  .box18 {
    grid-row: 6;
    grid-column: 2/4;
    padding: 0 20%;
  }


  .box20 {
    grid-row: 7;
    grid-column: 2/4;
  }


  .box21 {
    grid-row: 8;
    grid-column: 2/4;
    padding: 0 20%;
  }


  .box22 {
    grid-row: 9;
    grid-column: 2/4;
    padding: 0 20%
  }

  .box23 {
    grid-row: 10;
    grid-column: 2/4;
  }

  .box24 {
    grid-row: 11;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box25 .charts {
    width: 400px;
    height: 400px;
  }

  .box26 .charts {
    width: 400px;
    height: 400px;
  }

  .box27 .charts {
    width: 400px;
    height: 400px;
  }



  .box25 {
    grid-row: 12;
    grid-column: 2/4;
    padding: 0 20%;
  }


  .box26 {
    grid-row: 13;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box27 {
    grid-row: 14;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box28 {
    grid-row: 15;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box29 {
    grid-row: 16;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box30 {
    grid-row: 17;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box31 {
    grid-row: 18;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box32 {
    grid-row: 19;
    grid-column: 2/4;
  }

  .box33 {
    grid-row: 20;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box34 {
    grid-row: 21;
    grid-column: 2/4;
  }

  .box35 {
    grid-row: 22;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box36 {
    grid-row: 23;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box37 {
    grid-row: 24;
    grid-column: 2/4;
  }

  .box38 {
    grid-row: 25;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box39 {
    grid-row: 26;
    grid-column: 2/4;
  }

  .box40 {
    grid-row: 27;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box40 h2 {
    margin-top: 10%;
  }

  .box41 {
    grid-row: 28;
    grid-column: 2/4;
  }

  .box42 {
    grid-row: 29;
    grid-column: 2/4;
    padding: 0 20%;
  }


  .box43 {
    grid-row: 30;
    grid-column: 2/4;
  }

  .box44 {
    grid-row: 31;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box45 {
    grid-row: 32;
    grid-column: 2/4;
  }

  .box46 {
    grid-row: 33;
    grid-column: 2/4;
    padding:0 20%;
  }

  .box47 {
    grid-row: 34;
    grid-column: 2/4;
    padding: 0 20%;
  }

  .box48 {
    grid-row: 35;
    grid-column: 2/4;
    padding: 10% 15% 10% 15%;
  }

  .header-image {
    grid-row: 2;
    grid-column: 2/4;
  }

  .about {
    grid-row: 3;
    grid-column: 2/4;
    padding: 0 15%;
  }

  .problem {
    grid-row: 4;
    grid-column: 2/4;
    padding: 0 15%;
  }

  .solution {
    grid-row: 5;
    grid-column: 2/4;
    padding: 0 15%;
    margin-bottom: 8%;
  }

  .footer{
    grid-row: 6;
    grid-column: 2/4;
    padding: 10% 15% 10% 15%;
  }

}

@media (min-width: 1024px) {

    h1 {
      font-size: 4rem;
      margin: 0;
    }

    h2 {
      font-size: 3rem;
    }

    h4 {
      font-size: 1.5625rem;
    }

    h5 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.125rem;
    }


}
